/**
 * Admin colors.
 */

$primary-orange: #FF982D;
$secondary-grey: #6a6a6a;

/**
 * Admin colors.
 */
$desktop-breakpoint: 1220px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 769px;
$mini-breakpoint: 480px;